In [44]:
import pymongo
import pandas as pd
import numpy as np 
from pymongo.mongo_client import MongoClient

In [55]:
client = MongoClient('localhost', 27017)

schoolDB = client['SCHOOL'] # SCHOOL DATABASE
studentCol = schoolDB['Student'] # Student Collection
studentList = studentCol.find() #

students = pd.DataFrame(list(studentList))

students.head()

                        _id     name   dept
0  629b9b81aa25b251c4f03d28    Samet  ADMIN
1  629b9b8eaa25b251c4f03d29  Hüseyin     HR
2  629b9b97aa25b251c4f03d2a    İkbal     IT
3  629b9ba0aa25b251c4f03d2b    Tolga     IT

In [56]:
schoolDB.list_collection_names()

['Student']

In [60]:
studentCol.insert_one({'name':'Kerem', 'dept': 'IT'}).inserted_id

ObjectId('629b9daff5e041c108c67265')

In [61]:
client = MongoClient('localhost', 27017)

schoolDB = client['SCHOOL'] # SCHOOL DATABASE
studentCol = schoolDB['Student'] # Student Collection
studentList = studentCol.find() #

students = pd.DataFrame(list(studentList))

students.head()

                        _id     name   dept
0  629b9b81aa25b251c4f03d28    Samet  ADMIN
1  629b9b8eaa25b251c4f03d29  Hüseyin     HR
2  629b9b97aa25b251c4f03d2a    İkbal     IT
3  629b9ba0aa25b251c4f03d2b    Tolga     IT
4  629b9daff5e041c108c67265    Kerem     IT